.acourses{
  display: flex;
}

.asearch-bar{
    margin-left: 30%;
    display: flex;
    /* height: 60px; */
  }
  .asearfont{
    height: 18px;
  }

  .acou1{
    display: flex;
  }

  .asearch-bar input{
    border-radius: 2px;
    margin-top: 20px;
    height: 30px;
    width: 400px;
    margin-left: 30px;
  }

  .asearchbar2{
    margin-top: 23px;
    margin-left: 10px;
  }


.acourses{
    background-image: url('../images/background1.jpg');
    /* background-color: rgb(215, 218, 218); */
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;


  }

  .acours .acour3{
    margin-left: 150px;
  }

  .acour3{
    background-color: white;
    color: black;
    width: 600px;
    /* box-shadow: #333; */
    height: max-content;
    /* margin-left: 50%; */
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust values as needed */


    
  }

  .acou1 a{
    margin-top: 200px;
    margin-left: 100px;
  }

  .acou3{
    margin-top: 30px;
    margin-left: 50px;
    /* margin-bottom: 30px; */

  }

  .acour3 img{
    /* margin-left: 10px; */
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: 230px;
  }

  .acour4{
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .star{
    /* background-color: rgb(132, 212, 132); */
    width: 25px;
    color: rgb(8, 116, 15);
  }

  .star1{
    background-color: green;
    color: white;
    width: 85px;
    margin-bottom: 20px;
  }

  .acour4 button{
    float: right;
    margin-right: 30px;
    margin-bottom: 20px;
    background-color: darkblue;
    color: white;
    border-radius: 50px;
  }


  .acour3 {
    transition: transform 0.3s; /* Add a smooth transition effect */
  }
  
  .acour3:hover {
    transform: scale(1.1); /* Increase the scale on hover */
  }


.acour-row{
  display: flex;
}

  


@media(max-width: 992px){
    
    .cour .tog_btn{
        display: block;
        z-index: 2;
    }
}

.acourses-container{
  margin-top: 80px;
}

.acourse-actions{
  margin-top: 170px;
}

.add-academy{
  margin-left: 400px;
}

.edit-form{
  width: 50%;
  margin-left: 300px;
  margin-top: 70px;
}

.add-form{
  width: 50%;
  margin-left: 300px;
  margin-top: 70px;
}