.contclass{
    display: flex;
}

.cls1 h1{
    font-size: 40px;
    font-family:sans-serif;
    margin-left: 10px;
    margin-top: 50px;
    color: rgb(24, 3, 71);
}

.cls1 h4{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
    /* text-align: left; */
    margin-left: 20px;
    margin-top: 15px;
    color: black;
}

.cls2 img{
    margin-left: 20px;
}

.cls4{
    padding-top:30px;
  }

  .cls5{
    padding-top:40px;
    padding-bottom:30px;
  }
  .cls6{
    width: 35%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #edbc40;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }

  .cls3{
    margin-top:5rem;
    padding-bottom:40px;
   
    align-items:center;
    justify-content: center;
  }

  .cls7{
    border-radius:10px;
      width:500px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background-color:white;
      /* float: right; */
      margin-left: 300px;
      margin-bottom: 40px;
  }

  .cls8{
    display: flex;
  }