.text-section{
  /* background-color: black; */
  background-color: rgb(92, 185, 228);
  color: white;
  display: flex;
  height: fit-content;
}

.i1{
  height: 610px;
  width: 730px;
  /* margin-top: 60px; */
  /* margin-bottom: 60px; */
  /* margin-left: 150px; */
  margin-left: 33px;
}

.texts span
{
  font-size: 160px;
  color: #efb82e;
}
.texts h1
{
  font-size: 150px;
  /* margin-left: 320px; */
  color: white;

}
.texts h2
{
  font-size: 150px;
  margin-left: 60px;
  color: white;

}

.texts h4
{
  margin-left: 240px;
  font-size: 30px;
  width: 500px;
  color: rgb(25, 23, 23,0.85);
}

.th{
  line-height: 0.9;
  margin-top: 80px;
  margin-left: 150px;border-bottom: 2px solid #ffd700;
}

.text-section2{
  background-color: white;
}

.texts1 h2{
  font-size: 50px;
  width: 700px;
  margin-left: 80px;
  margin-top: 50px;
}

.texts2{
  margin-top: 70px;
  margin-left: 150px;
}

.th1 {
  
  display: flex;
  gap: 220px;
  height: 200px;
  width: 220px;
}

.texts3{
  display: flex;
  gap: 110px;
  margin-left: 50px;
  margin-top: 30px;
}

.th2{
  width: 300px;
}

.th2 h2{
  font-size: 25px;
  color: #efb82e;
}

.th2 h4{
  font-size: 21px;
  color: rgb(40, 37, 37,0.8);
  margin-top: 20px;
}

.video-container{
  margin-top: 40px;
  /* opacity: 0.1px; */
}

.texts4{
  display: flex;
  margin-top: 60px;
}

.th4 h1{
  font-size: 50px;
  margin-left: 30px;
  color: #efb82e;
  margin-top: 60px;
}

.th4 h4{
  font-size: 30px;
  margin-left: 50px;
  margin-top: 20px;
  color: rgb(40, 38, 38,0.7);
  width: 700px;
}

.th5 img{
  height: 500px;
}

.faq-container {
  max-width: 800px; /* Adjust the width as needed */
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

.question {
  font-weight: bold;
  cursor: pointer;
}

.question.open {
  text-decoration: underline;
}

.answer {
  margin-top: 5px;
  display: none;
}

.question.open + .answer {
  display: block;
}


.faq-container{
  margin-top: 40px;
  height: 400px;
  width: 100%;
}

.faq-container h2{
  font-size: 60px;
  color: #efb82e;
}

.faq-container .question{
  font-size: 30px;
  color: rgb(46, 43, 43);
  margin-left: 40px;
}

.faq-container .answer{
  font-size: 25px;
  color: rgb(90, 85, 85);
  margin-left: 50px;
}

.qicon{
  margin-left: 20px;
  color: rgb(182, 178, 178);
}