.pro h2{
    margin-top: 40px;
    margin-left: 30px;
  }
  
  .pro a{
    color: black;
  }
  
  .dashicon{
    margin-right: 10px;
  } 
  .pro{
    background-color: rgb(151, 195, 228,0.5);
    /* background-size: cover ; */
    height: 200px;
    /* height:100vh; */
    width:17%;
    color: black;
  }

  .pro4{
    display: flex;
  }

  .prof{
    display: flex;
  }

  .pro1{
    /* background-color: black; */
    height: 100vh;
    width: 80%;
  }


  .pro4 h3{
    align-items: center;
    font-size: 25px;
    margin-top: 28px;
    margin-left: 40px;
  }

  .proimg img{
    height: 60px;
    width: 60px;
    margin-left: 200px;
    background-color: white;
    /* background-color: #ccc; */
    border: 2px solid black;
    border-radius: 50px;
  }

  .protext {
    background-color: rgb(175, 172, 172,0.7);
    width: 700px;
    margin-left: 430px;
  }

  .pro1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .pro1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/about2.webp);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.6;
    z-index: -1; /* Place the pseudo-element behind the content */
  }
  
  
  .pro1 h1{
    font-size: 80px;
    color:rgb(3, 3, 48);
    margin-left: 70px;
    margin-top: 200px;
  }

  .prored{
    background-color: rgb(4, 4, 58);
    color: white;
    height: 60px;
  }
  

  .prored h3{
    /* margin-top: 10px; */
    margin-left: 1200px;
  }
  .pro1 h2{
    font-size: 50px;
    margin-left: 30px;
    color:brown;
    margin-top: 20px;
  }

  .pro1 p{
    font-size: 30px;
    margin-left: 300px;
    margin-top: 20px;
  }

  .pro3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
  }
  
  .pro3 h3 {
    /* margin: 10px 0; */
    font-size: 20px;
    /* color: #333; */
    color: black;
  }
  
  .pro3 input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


  .pro5 {
    position: absolute;
    /* top: 600px; */
    left: 840px;
    /* background-color: white; */
    /* background-color: #ccc; */
    background-color: white;
    border-radius: 15px;
    width: 450px;
    height: 420px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 2; 
  }
  
  .pro7 img {
    position: relative;
    /* margin-left: 350px; */
    width: 100%;
    height: 600px;
    /* border-radius: 50px; */
    /* margin-top: 10px; */
    z-index: 1;
  }
  