.student {
    background-color: rgba(227, 219, 219, 0.67);
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

.stud1 {
    margin-left: 240px;
    margin-top: 40px;
}

.stud2 {
    background-color: rgb(221, 218, 218);
    border-radius: 5px;
    width: 400px;
    margin-top: 40px;
    margin-left: 300px;
    height: 310px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.stud3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.stud2 button {
    margin-left: 70px;
    margin-bottom: 20px;
    background-color: rgb(8, 8, 43);
    color: white;
    border-radius: 10px;
}

.stud2 input {
    width: 50%;
    margin-left: 40px;
}

.stud2 label {
    margin-left: 30px;
    margin-top: 20px;
}

.stud {
    display: flex;
    border-radius: 20px;
    width: 100%;
    margin-top: 40px;
    gap: 30px;
}

.stu {
    background-color: white;
    gap: 30px;
    border-radius: 20px;
    width: 400px;
    width: 55%;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.stu1 button {
    padding: 10px;
    margin-right: 20px;
    background-color: rgb(8, 8, 43);
    color: white;
    border-radius: 10px;
}

.stu1 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.stbut {
    padding: 10px;
    float: right;
    margin-right: 20px;
    background-color: rgb(8, 8, 43);
    color: white;
    border-radius: 7px;
}

.student-table {
    width: 1100px;
    border-collapse: collapse;
    margin-top: 20px;
}

.student-table th, .student-table td {
    border: 1px solid #171616;
    padding: 8px;
    text-align: left;
}

.student-table th {
    background-color: rgb(8, 8, 43);
    color: white;
}

.studbut{
    background-color: rgb(3, 3, 39);
    color: white;
    padding: 10px;
    border-radius: 7px;
    margin-left: 20px;
}

.feta{
    margin-right: 30%;
    width: 100%;
}