.acourses{
  display: flex;
}

.asearch-bar{
    margin-left: 22%;
    display: flex;
  }
  .asearfont{
    height: 18px;
  }

  .acou1{
    display: flex;
  }

  .asearch-bar input{
    border-radius: 2px;
    margin-top: 20px;
    height: 30px;
    width: 400px;
    margin-left: 30px;
  }

  .asearchbar2{
    margin-top: 23px;
    margin-left: 10px;
  }


.acourses{
    background-color: rgba(227, 219, 219, 0.67);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
  }

  .acourses-container{
    margin-right: 19%;
  }

  .acour3{
    background-color: rgb(186, 182, 182,0.5 );
    color: black;
    width: 550px;
    height: max-content;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(173, 166, 166, 0.5);   
  }


  .acou1 a{
    margin-top: 200px;
    margin-left: 100px;
  }

  .cou3{
    margin-top: 30px;
    margin-left: 50px;
  }

  .acou2 img{
    height: 290px;
    width: 280px;
  }

  
.acour3 h2{
  margin-left: 20px;
  margin-top: 20px;
}
.acour3 h3{
  margin-left: 20px;
}

.astar-rating{
  margin-left: 20px;
}
  .astar{
    width: 25px;
    color: rgb(8, 116, 15);
    margin-left: 20px;
  }

  .astar1{
    background-color: green;
    color: white;
    width: 85px;
    margin-bottom: 20px;
  }

  .acour4 button{
    /* float: left; */
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }

  .acourse-actions{
    display: flex;
  }

  .acour3 {
    transition: transform 0.3s;
  }
  
  .acour3:hover {
    transform: scale(1.1);
  }

  .acou3 h2{
    font-size: 30px;
    color: rgb(3, 3, 98);
  }

.acour-row{
  display: flex;
  margin-left: 24%;
  gap: 50px;
}

  


@media(max-width: 992px){
    
    .cour .tog_btn{
        display: block;
        z-index: 2;
    }
}



  


@media(max-width: 992px){
    
    .cour .tog_btn{
        display: block;
        z-index: 2;
    }
}


.add-academy{
  margin-left: 400px;

}

.add-aca{
  background-color: darkblue;
  color: white;
  border-radius: 7px;
  width: 180px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 60px;
}

.edit-form{
  /* background-color: rgba(227, 219, 219); */
  /* background-color: rgb(186, 182, 182,0.5 ); */
  /* background-color: white; */
  background-color: rgb(197, 196, 196);
  box-shadow: 0 0 10px rgba(32, 32, 32, 0.7);   

  width: 40%;
  height: 390px;
  margin-left: 450px;
  margin-top: 70px;
  /* margin-bottom: 40px; */
  border-radius: 7px;
}

.edit-form input{
  width: 70%;
  margin-left: 100px;
  margin-top: 10px;
}
.edit-form label{
  /* width: 50%; */
  margin-left: 40px;
  color: black;
  font-size: 22px;
}

.edit-form button{
  margin-left: 140px;
  margin-top: 20px;
  background-color: rgb(3, 3, 59);
  color: white;
  padding: 10px;
  border-radius: 7px;

}

.edit-form h2{
  margin-left: 200px;
  color: rgb(2, 2, 68);
  font-size: 32px;
}

.ad1{
  margin-top: 20px;
}

.add-form{
  /* background-color: rgba(227, 219, 219); */
  /* background-color:rgb(201, 187, 187); */
  background-color: white;
  box-shadow: 0 0 10px rgba(32, 32, 32, 0.7);   

  width: 40%;
  height: 420px;
  margin-left: 450px;
  margin-top: 70px;
  /* margin-bottom: 40px; */
  border-radius: 7px;
}

.add-form input{
  width: 50%;
  margin-left: 40px;
}
.add-form label{
  /* width: 50%; */
  margin-left: 40px;
}

.add-form button{
  margin-left: 70px;
  margin-top: 20px;
  background-color: rgb(3, 3, 59);
  color: white;
  padding: 10px;
  border-radius: 7px;

}

.add-form h2{
  margin-left: 180px;
}

.ad1{
  margin-top: 20px;
}