
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 20px;
  }
  
  h2 {
    font-size: 1.2em;
  }
  
  p {
    margin: 8px 0;
  }
  
  .social-icons {
    display: flex;
    
  }

  .icon {
    margin-right: 15px; 
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  