
.parent{
    height:700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;

  }
  .sign{
    border-radius:10px;
      width:400px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background-color:white;
  }
  .lo{
    font-family: 'Poppins', sans-serif;
  }
  .login{
    margin-top:7px;
    
    padding-top:5px;
  }
  .fo{
    margin-top:3rem;
    padding-bottom:40px;
   
    align-items:center;
    justify-content: center;
  }
  .pass{
    padding-top:30px;
  }
  .but{
    padding-top:40px;
  }
  .but1{
    padding-top:40px;
    padding-bottom:30px;
  }
  .but2{
    width: 35%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #edbc40;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }